build.xml
proguard.cfg
bin/*
gen/*
*.*.swp
Thumbs.db
*.keystore
.gitconfig
.idea/*
out/*
*.iml
Textspansion/src/main/gen
*.apk

# updated for Gradle config
.gradle/
Textspansion/build
Textspansion/gen
