build.xml
proguard.cfg
bin/*
gen/*
*.*.swp
Thumbs.db
*.keystore
*.properties
.gitconfig
.idea/*
out/*
*.iml
Textspansion/src/main/gen

# updated for Gradle config
.gradle/
Textspansion/build
Textspansion/gen
gradlew*
gradle/*